<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tienda de NFT hecho con IA</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favicon.png">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-zV0C88039T/555cc+zYTOKM/j5X+t3D4X1L4+HqaEbVU4i5l8Oj07j57YT07s" crossorigin="anonymous">
  
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <app-header></app-header>
  <app-main></app-main>
  <app-script></app-script>
  <app-footer></app-footer>
</body>
</html>
