<main class="container">
    <section class="seccion-cabecera">
      <h1>Tienda de NFTs</h1>
      <p>NFTs únicos y exclusivos para coleccionistas.</p>
    </section>
  
    <section class="seccion-filtros">
      <h2>Filtros</h2>
      <ul>
        <li>
          <input type="checkbox" id="animales-mecanicos" class="seccion-desplegable">
          <label for="animales-mecanicos">Animales Mecánicos</label>
        </li>
        <li>
          <input type="checkbox" id="ciudades-inteligentes" class="seccion-desplegable">
          <label for="ciudades-inteligentes">Ciudades Inteligentes</label>
        </li>
        <li>
          <input type="checkbox" id="paisajes-naturales" class="seccion-desplegable">
          <label for="paisajes-naturales">Paisajes Naturales</label>
        </li>
      </ul>
    </section>
  
    <section class="seccion-principal">
      <div class="contenido-seccion" id="animales-mecanicos">
        <div class="articulo">
          <img src="assets/NFTs/NFT6.jpeg" alt="NFT 7" class="nft-image" oncontextmenu="return false;" onclick="return false;">
          <h3>Dragón Mecánico</h3>
          <p class="descripcion">Descubre la majestuosidad del Dragón Mecánico. Esta criatura de metal y engranajes te llevará a un viaje emocionante por tierras mecánicas. Sus rugidos metálicos y su aliento de vapor te transportarán a un mundo de fantasía y tecnología.</p>
          <span class="precio">$100 USD</span>
          <button onclick="mostrarAlerta()">Comprar</button>
        </div>
        <br>
        <div class="articulo">
          <img src="assets/NFTs/NFT7.jpeg" alt="NFT 8" class="nft-image" oncontextmenu="return false;" onclick="return false;">
          <h3>Unicornio Mecánico</h3>
          <p class="descripcion">Embárcate en una aventura única con el Unicornio Mecánico. Su pelaje de acero y su cuerno brillante te guiarán a través de un mundo de maravillas mecánicas. Este noble ser te hará creer en la magia de la ingeniería.</p>
          <span class="precio">$100 USD</span>
          <button onclick="mostrarAlerta()">Comprar</button>
        </div>
        <br>
        <div class="articulo">
          <img src="assets/NFTs/NFT8.jpeg" alt="NFT 9" class="nft-image" oncontextmenu="return false;" onclick="return false;">
          <h3>Salamandra Mecánica</h3>
          <p class="descripcion">Explora las profundidades del mundo subterráneo con la Salamandra Mecánica. Su cuerpo de bronce y su fuego mecánico te llevarán a un reino subterráneo lleno de misterios y tesoros. Adéntrate en la oscuridad y descubre la belleza de lo oculto.</p>
          <span class="precio">$100 USD</span>
          <button onclick="mostrarAlerta()">Comprar</button>
        </div>
        <br>
      </div>
      <div class="contenido-seccion" id="ciudades-inteligentes">
        <div class="articulo">
          <img src="assets/NFTs/NFT0.jpeg" alt="NFT 1" class="nft-image" oncontextmenu="return false;" onclick="return false;">
          <h3>Cybermetrópolis</h3>
          <p class="descripcion">Bienvenido a Cybermetrópolis, la joya de la tecnología y la innovación. En esta ciudad, la inteligencia artificial se entrelaza con la vida cotidiana, creando un entorno donde la eficiencia y la sostenibilidad son la norma. Desde sistemas de transporte autónomos hasta edificios inteligentes que se adaptan a las necesidades de sus habitantes, Cybermetrópolis redefine la forma en que vivimos y trabajamos. Aquí, la conectividad es omnipresente, y la ciudad se anticipa a tus deseos para ofrecerte una experiencia urbana inigualable
  